TYPEORM_CONNECTION=${db_type}
TYPEORM_URL=${db_connection_string}
TYPEORM_LOGGING=${loggin_options}
TYPEORM_ENTITIES=${entities_path}
TYPEORM_MIGRATIONS=${migrations_path}
TYPEORM_MIGRATIONS_DIR=${migrations_dir}
TYPEORM_MIGRATIONS_RUN=${migrations_run_options}
TYPEORM_SUBSCRIBERS=${migrations_subscribers_options}
TYPEORM_SUBSCRIBERS_DIR=${migrations_subscribers_dir_options}